<div class="hero" data-bg-image="/assets/banner.png">
  <div class="container">
    <h1>Welcome to SkyCast Inc. </h1>
    <p>Please login</p>
    <%= form_tag("/users", method: "post", class:"find-location") do %>
    <input type="text" required name="username" placeholder="Username">
    <input type="submit" value="Sign In">
    <% end %>
  </div>
</div>
