<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <form class='search-location' action='searchResult.html' method='POST'>
        <input type='text' name='city' placeholder='Enter a city.' required />
        <input type='date' name='date' required />
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
</div>
